<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<th:block layout:fragment="content">
    <div class="container">
        <h1>About</h1>
        <div class="container">
            <div class="jumbotron">
                <h2>Authors</h2>
                <hr>
                <table>
                    <tr>
                        <td><h4 class="pr-4"><span class="text-primary"><b>Name:</b> Eliška Obadalová</span></h4></td>
                        <td><h4 class="px-4"><span class="text-secondary"><b>Email:</b> e_obadalova@utb.cz</span></h4></td>
                    </tr>
                    <tr>
                        <td><h4 class="pr-4"><span class="text-primary"><b>Name:</b> Pavel Ševčík</span></h4></td>
                        <td><h4 class="px-4"><span class="text-secondary"><b>Email:</b> p_sevcik@utb.cz</span></h4></td>
                    </tr>
                    <tr>
                        <td><h4 class="pr-4"><span class="text-primary"><b>Name:</b> Martin Krčma</span></h4></td>
                        <td><h4 class="px-4"><span class="text-secondary"><b>Email:</b> m1_krcma@utb.cz</span></h4></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</th:block>

</html>