<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<th:block layout:fragment="content">
    <div class="container">
        <h1>Book catalog</h1>
        <div>
    
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary m-1">&#60;</button>
            <button type="button" class="btn btn-primary m-1">1</button>
            <button type="button" class="btn btn-secondary m-1">2</button>
            <button type="button" class="btn btn-secondary m-1">3</button>
            <button type="button" class="btn btn-secondary m-1">&#62;</button>
        </div>
    </div>
</th:block>

</html>