<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<th:block layout:fragment="content">
    <div class="container">

        <div class="d-flex justify-content-start">
            <h1>Edit book</h1>
            <button type="button" class="btn btn-secondary my-2 ml-5"
                th:onclick="window.location.href='/admin/books'">Back</button>
        </div>
        <form th:if="${BOOK != null}" id="form" th:action="'editBook?id=' + ${BOOK.id}" method='POST' autocomplete="off">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name='name' class="form-control" id="name" placeholder="Enter Name"
                            th:value="${BOOK.name}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="surname">Author</label>
                        <input type="text" name='author' class="form-control" id="author" placeholder="Enter Author"
                            th:value="${BOOK.author}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="personalID">Page Count</label>
                        <input type="number" name='pageCount' class="form-control" id="pageCount"
                            placeholder="Enter Page Count" th:value="${BOOK.pageCount}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address">Year Of Publication</label>
                        <input type="number" name='yearOfPublication' class="form-control" id="yearOfPublication" placeholder="Enter Address"
                            th:value="${BOOK.yearOfPublication}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address">Available</label>
                        <input type="number" name='available' class="form-control" id="available" placeholder="Enter Address"
                            th:value="${BOOK.available}">
                    </div>
                </div>
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Update</button>
        </form>
        <div th:if="${ERROR != null}">
            <div class="alert alert-danger m-2" role="alert" th:text="${ERROR}"></div>
        </div>
        <div th:if="${SUCCESS != null}">
            <div class="alert alert-success m-2" role="alert" th:text="${SUCCESS}"></div>
        </div>

    </div>
</th:block>

</html>