<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<th:block layout:fragment="content">
    <div class="container">

        <h1>Admin</h1>

        <div class="bg-primary">
            <h4 class="text-light p-2 m-0">Notifications</h4>
        </div>
        <table class="table">
            <tbody>
                <th:block th:each="user : ${NOTIFICATIONS}">
                    <tr>
                        <td>User <a class="text-primary font-weight-bold" th:text="${user.username}" href="#"></a>
                            waiting for confirm</td>
                        <td><button type="button" class="btn btn-success" th:onclick="confirm([[${user.username}]])">Confirm</button></td>
                        <td><button type="button" class="btn btn-danger" th:onclick="reject([[${user.username}]])">Reject</button></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

    </div>
</th:block>

<th:block layout:fragment="page_scripts">
   <script>
      function confirm(username) {
        window.location.href = '/admin?username=' + username + '&confirmed=true';
      }

      function reject(username) {
        window.location.href = '/admin?username=' + username + '&confirmed=false';
      }
   </script>
</th:block>

</html>