<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<th:block layout:fragment="content">
    <div class="container">
        <h1>Change password</h1>

        <form action="changePassword" method='POST'>
            <div class="form-group">
                <label for="username">Current Password</label>
                <input type="password" name='currentPass' class="form-control" id="currentPass"
                    placeholder="Enter Current Password">
            </div>

            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" name='newPass' class="form-control" id="newPass" placeholder="Enter New Password"
                    onkeyup='check();'>
            </div>

            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" name='newPass2' class="form-control" id="newPass2" placeholder="Confirm Password"
                    onkeyup='check();'>
                <span id='message'></span>
            </div>

            <button id="submit" type="submit" name="submit" class="btn btn-primary">Change</button>

            <div th:if="${ERROR != null}">
                <div class="alert alert-danger m-2" role="alert" th:text="${ERROR}"></div>
            </div>
            <div th:if="${SUCCESS != null}">
                <div class="alert alert-success m-2" role="alert" th:text="${SUCCESS}"></div>
            </div>
        </form>

    </div>
</th:block>

<th:block layout:fragment="page_scripts">
    <script>
        const submit = document.querySelector("#submit");
        submit.disabled = true;
        var check = function () {
            if (document.getElementById('newPass').value == document.getElementById('newPass2').value &&
                document.getElementById('newPass').value !== "") {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
                submit.disabled = false;
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
                submit.disabled = true;
            }
        }
    </script>
</th:block>

</html>