<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<th:block layout:fragment="content">
    <div class="container">

        <div class="d-flex justify-content-start">
            <h1>Admin - Users</h1>
            <button type="button" class="btn btn-secondary my-2 ml-5" th:onclick="window.location.href='/admin'">Back</button>
        </div>

        <table class="table">
            <thead>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Address</th>
                <th>Personal ID</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <th:block th:each="user : ${USERS}">
                    <tr>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.surname}"></td>
                        <td th:text="${user.address}"></td>
                        <td th:text="${user.personalID}"></td>
                        <td><button type="button" class="btn btn-primary"
                                th:onclick="editUser([[${user.username}]])">Edit</button></td>
                        <td><button type="button" class="btn btn-danger"
                                th:onclick="deleteUser([[${user.username}]])">Delete</button></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

    </div>
</th:block>

<th:block layout:fragment="page_scripts">
    <script>
        function editUser(username) {
        }

        function deleteUser(username) {
        }
    </script>
</th:block>

</html>u